@page
@model TFT_Test.Pages.ActorsCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Actor List</h1>

<p>
    <a asp-page="Create">Create New Actor</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].ActorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].ActorSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].ActorAdress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].ExpectedFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].ActorPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor[0].ActorEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Actor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorAdress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorEmail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
