@model TFT_Test.Models.Director

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DirectorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
